[submodule "app/v-el-table-doc"]
	path = app/v-el-table-doc
	url = git@github.com:weiquanju/v-el-table-doc.git
[submodule "app/vuepress-plugin-demo-code-block"]
	path = app/vuepress-plugin-demo-code-block
	url = git@github.com:weiquanju/vuepress-plugin-demo-code-block.git
